<!--
 REFERENCES
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/center
https://www.w3schools.com/html/html_css.asp
https://www.w3schools.com/css/css_align.asp
https://www.w3schools.com/html/html_styles.asp
https://www.w3schools.com/cssref/css_websafe_fonts.php
https://stackoverflow.com/questions/15180738/buttons-links-inline-with-text
 -->
<!DOCTTYPE html>
<html lang = "en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> <!-- Code from Bootstrap: https://getbootstrap.com -->


<head style="color:blue;">
  <title > TOOTHACHE  </title>
</head>


<div style="color:yellow; font-family:Brush Script MT ;">
<div class="fs-5 fw-bold  text-emphasis-primary text-center text-uppercase ">

<div class = "p-1 mb-2 fs-6 fw-bold  text-emphasis-primary text-center" style="background-color:DeepsSyBlue" style = "margin-left:200px">
  <!-- code for nav menu from Reference 13 -->
  Navigation Menu
<nav class="nav justify-content-center" style = "margin-left:500px">

    <a class="nav-link active" style = "color:yellow" href="{% url 'index' %}">Cookies</a>
    <a class="nav-link active" style = "color:yellow" href="{% url 'home' %}">Home</a>




</nav>
</div>

<!-- Reference 5 and 6 and  7 -->


  TOOTHACHE</div>
  </div>

<body style="text-align:center; background-color:DeepsSyBlue;">
<div style = "width:70%; text-align:center; margin-left: auto; margin-right: auto; color:yellow; font-family:Brush Script MT ;font-size:250%;">
    CONFIRMATION PAGE
</div>

<div style = "width:70%; text-align:center; margin-left: auto; margin-right: auto; color:yellow; font-family:Brush Script MT ;font-size:250%;">
WE BRING UP THIS PAGE TO ASK YOU THE QUESTION, ARE YOU SURE YOU WANT TO MAKE THIS PURCHASE?
    ONCE YOU MAKE THE PURCHASE IT IS NONREFUNDABLE AND THERE IS A SHIPPING COST THAT YOU WILL INCUR.
    PLEASE CONFIRM BELOW THAT YOU WOULD LIKE TO CANCEL THE ORDER.

    <a class="nav-link active" style = "color:yellow" href="{% url 'home' %}">YES</a>
     <a class="nav-link active" style = "color:yellow" href="{% url 'finish' %}">NO</a>

</div>


</body>






</html>