<!--
 REFERENCES
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/center
https://www.w3schools.com/html/html_css.asp
https://www.w3schools.com/css/css_align.asp
https://www.w3schools.com/html/html_styles.asp
https://www.w3schools.com/cssref/css_websafe_fonts.php
https://stackoverflow.com/questions/15180738/buttons-links-inline-with-text
 -->
<!DOCTTYPE html>
<html lang = "en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> <!-- Code from Bootstrap: https://getbootstrap.com -->


<head style="color:blue;">
  <title > TOOTHACHE  </title>
</head>


<div style="color:yellow; font-family:Brush Script MT ;">
<div class="fs-1 fw-bold bg-primary text-emphasis-primary text-center text-uppercase ">

<div class = "border border-primary p-1 mb-2 fs-6 fw-bold bg-primary text-emphasis-primary text-center" style="background-color:blue">
  <!-- code for nav menu from Reference 13 -->
  Navigation Menu
<nav class="nav justify-content-center" >
    <a class="nav-link active" style = "color:yellow" href="{% url 'home' %}">Home</a>
    <a class="nav-link active" style = "color:yellow" href="{% url 'index' %}">Cookies</a>





</nav>
</div>

<!-- Reference 5 and 6 and  7 -->


  TOOTHACHE</div>
  </div>

<body style="text-align:center; background-color:blue;">
<div style = "width:70%; text-align:center; margin-left: auto; margin-right: auto; color:yellow; font-family:Brush Script MT ;font-size:250%;">
  Hello! Welcome to our website for our brand, Toothache.
We are a fully online based candy store that started up in West Virginia, and have been expanding all across the country.
Our online store has a small selection of candies to buy, that are listed on this web page. If you love sweets, this is the place for you!
    This website was fittingly named Toothache because although we are a fake website and a fake brand, and therefore we can not cause you a toothache
    with our candy, we hope using our website causes you another type of ache (a headache). We really like our name, and we hope you like it as well!
    One customer of ours gave us a glowing review, saying our service is unmatched, and the quality of our candy is supremely superb.
    Another reviewer gave a similarly raving review about the beautiful design of our website, along with the speed of our shipping service.
    A third reviewer told us that we are the best candy store in the nation, and that they would never, ever order from a different candy service ever again!
    Other customers have commented on our fair prices. And did we mention the reviews about how easy to use our website is? Because we have gotten several, not to brag.
To get started, look around this page to find the place to press, which will have more instructions on how to order our finely curated and selected candies.
    To find the location of the word that you press to get to the website, go to the sixteenth sentence and press on the eighth word. You must do this in order to <a class="nav-link active" style = "color:yellow; display:inline" href="{% url 'search' %}">get</a> started and search for your desired candy!
    Each piece of candy costs 5 dollars each, which is a very reasonable price! I would say that this is a super reasonable price, and I recommend that you look
    no further for your candy needs! We are a small business and all of our proceeds go towards us, which is a super good cause and you should definitely pay us all your money.
    Even better, share this link and tell others about our small business and our amazing, unique selection of candies! Spread the news of our business far and wide!
    Tell your friends, colleagues, and family about us. Share us on social media with #Toothache attached to it to have a 1% chance of winning a
    free candy bar of our choosing. Okay, maybe not quite a 1% chance, probably closer to a .88% chance, but a chance indeed!
    I would not pass up on this <1% chance of earning a free candy bar, as our candy is of the highest quality, and this promotion will only last until the day after tomorrow! So hurry up and share that hashtag!
    Wow, this ended up being a much longer paragraph than we anticipated writing, we hope you enjoyed reading this and enjoy our candy even more!
</div>


</body>






</html>