<!--
 REFERENCES
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/center
https://www.w3schools.com/html/html_css.asp
https://www.w3schools.com/css/css_align.asp
https://www.w3schools.com/html/html_styles.asp
https://www.w3schools.com/cssref/css_websafe_fonts.php
https://stackoverflow.com/questions/15180738/buttons-links-inline-with-text
 -->
<!DOCTTYPE html>
<html lang = "en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> <!-- Code from Bootstrap: https://getbootstrap.com -->


<head style="color:lightblue;">
  <title > TOOTHACHE  </title>
</head>


<div style="color:powderblue; font-family:Brush Script MT ;">
<div class="fs-1 fw-bold  text-emphasis-primary text-center text-uppercase ">

<div class = "p-1 mb-2 fs-6 fw-bold  text-emphasis-primary text-center" style="background-color:lightblue">
  <!-- code for nav menu from Reference 13 -->
  Navigation Menu
<nav class="nav justify-content-center" >
    <a class="nav-link active" style = "color:powderblue" href="{% url 'home' %}">Home</a>
    <a class="nav-link active" style = "color:powderblue" href="{% url 'index' %}">Cookies</a>





</nav>
</div>

<!-- Reference 5 and 6 and  7 -->


  TOOTHACHE</div>
  </div>

<body style="text-align:center; background-color:lightblue;">
<div style = "width:70%; text-align:center; margin-left: auto; margin-right: auto; color:powderblue; font-family:Brush Script MT ;font-size:100%;">
  REQUIREMENTS!
<p>
    THIS WEBSITE REQUIRES YOU TO INPUT A USERNAME AND A PASSWORD THAT FITS A CERTAIN NUMBER OF REQUIREMENTS.
        THE USERNAMES MUST CONTAIN EXACTLY 9 CHARACTERS IN IT. NO MORE, NO LESS.
THE PASSWORD MUST MEET SEVERAL DIFFERENT REQUIREMENTS THAT I WILL ENUMERATE IN A LITTLE BIT. THE PASSWORD MUST BE AT LEAST 8 CHARACTERS, AND NO MORE THAN 10 CHARACTERS.
        THE PASSWORD MUST CONTAIN AT LEAST ONE UPPER CASE LETTER AND AT LEAST ONE LOWER CASE LETTER. THE PASSWORD MUST CONTAIN AT LEAST A SINGLE NUMBER IN IT, AND IT MUST HAVE ONE
        OF THE FOLLOWING CHARACTERS: @, !, #, OR $. IF THE PASSWORD FAILS TO MEET ANY OF THESE REQUIREMENTS, YOU WILL HAVE AN ERROR AND YOU WILL NOT BE ABLE TO PROCEED.
        ALSO, IF YOU DO NOT USE APPROPRIATE CHARACTERS FOR THE OTHER FIELDS, THEN YOU WILL NOT BE ABLE TO PROCEED.
    </P>
</div>


</body>






</html>